.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover{
    cursor: pointer;
}

.card h3 {
    margin-bottom: 8px;
}

.card p {
    color: #555;
}

.card img {
    width: 100%;
}